:root {
	--bulma-white: #fff;
	--bulma-black: #070900;
	--bulma-body-background-color: hsl(180deg 100% 99%);
	--bulma-primary-h: 179deg;
	--bulma-primary-s: 93%;
	--bulma-primary-l: 48%;
	--bulma-warning-h: 56deg;
	--bulma-warning-s: 90%;
	--bulma-warning-l: 64%;
	--bulma-danger-h: 317deg;
	--bulma-danger-s: 71%;
	--bulma-danger-l: 51%;
	--bulma-success-h: 120deg;
	--bulma-success-s: 90%;
	--bulma-success-l: 50%;

	/* --bulma-link is used for anchors
	   and also as focus color for select, input, button, etc. */
	--bulma-link-h: 177deg;
	--bulma-link-s: 71%;
	--bulma-link-l: 34%;
	--bulma-link-on-scheme-l: 34%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bulma-body-background-color: hsl(171deg 4% 29%);
	}
}
