/*
 * Fonts
 */

:root {
	--bulma-family-sans-serif: sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		--bulma-family-sans-serif: "Inter var", sans-serif;
	}
}

/*
 * Colors
 */

:root {
	--bulma-white: var(#ffffff);
	--bulma-black: var(#070900);
	--bulma-primary: var(#09eae5);
	--bulma-warning: var(#f6eb4e);
	--bulma-danger: var(#ba007c);
	--bulma-success: var(#1ebb1e);

	--bulma-body-background-color: var(#faffff);
}
