/* Copied from bulma/sass/utilities/initial-variables.scss */
$tablet: 769px;

:root {
	/* Copied from bulma/sass/utilities/initial-variables.scss */
	--tablet: #{$tablet};

	/* Used for page layout. */
	--page-padding-block: 2rem;
	--page-padding-inline: 1.5rem;

	/* Used by form components on focus. */
	--focus-shadow-alpha: 1;
	--focus-h: 0deg;
	--focus-s: 0%;
	--focus-l: 0%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bulma-body-background-color: hsl(171deg 4% 29%);

		/* Used by form components on focus. */
		--focus-h: 0deg;
		--focus-s: 0%;
		--focus-l: 71%;
	}
}

@media only screen and (1px <= width <= $tablet) {
	:root {
		--page-padding-block: 1.25rem;
		--page-padding-inline: 0.75rem;
	}
}
