// Fonts.
$family-sans-serif: var(--family-sans-serif);

// Colors.
$brand: #09eae5;
$primary: #22d3ee;
$danger: #ffd971; // Use yellow for danger: red is for sell or down-trend candles.
$link: $primary;
// TODO detect color scheme in JS and set dark background #4e4d4a
$body-background-color: #faffff;

// Navbar.
$navbar-height: 1.5em;
$navbar-padding-vertical: 0.1em;
