// Fonts
// -----

$family-sans-serif: var(--family-sans-serif);

// Colors
// ------

$black: #000000;
$brand: #09eae5;
$primary: #22d3ee;
$danger: #ffd971; // Use yellow for danger: red is for sell or down-trend candles.
$success: $primary; // Use primary color for success, green is for buy or up-trend candles.
$link: #0b8eb3;

$body-background-color: #faffff;

$scheme-invert: $black;

$shadow: 0.1em 0.1em 0.5em -0.1em rgba($scheme-invert, 0.1),
  0 0px 0 1px rgba($scheme-invert, 0.02);

// Links
// -----

// Used also by button and pagination components.
$link-focus-border: $link;

// Tabs
// ----

$tabs-boxed-link-active-background-color: $body-background-color;
