input[type="checkbox"] {
	margin-right: 0.5em;
	accent-color: $link;
}

input[type="checkbox"][color="danger"] {
	accent-color: $danger;
}

input[type="checkbox"][color="primary"] {
	accent-color: $primary;
}

input[type="checkbox"][color="warning"] {
	accent-color: $warning;
}
