a {
	text-decoration: underline;
}

a:focus-visible {
	--bulma-link-text: hsl(var(--focus-h) var(--focus-s) var(--focus-l));
	--bulma-focus-shadow-alpha: var(--focus-shadow-alpha);
	--bulma-focus-h: var(--focus-h);
	--bulma-focus-s: var(--focus-s);
	--bulma-focus-l: var(--focus-l);
}
