.button {
	/* Focus outline size */
	--bulma-focus-shadow-size: 0 0 0 var(--focus-outline);

	/* Focus colors. */
	--bulma-focus-shadow-alpha: var(--focus-shadow-alpha);
	--bulma-focus-h: var(--focus-h);
	--bulma-focus-s: var(--focus-s);
	--bulma-focus-l: var(--focus-l);
}
