.select {
	--bulma-arrow-color: var(--bulma-black);

	/* Focus outline size */
	--bulma-input-focus-shadow-size: 0 0 0 var(--focus-outline);

	/* Focus colors. */
	--bulma-input-focus-shadow-alpha: var(--focus-shadow-alpha);
	--bulma-input-focus-h: var(--focus-h);
	--bulma-input-focus-s: var(--focus-s);
	--bulma-input-focus-l: var(--focus-l);
}

@media (prefers-color-scheme: dark) {
	.select {
		--bulma-arrow-color: var(--bulma-white);
	}
}
