.tabs {
	--bulma-tabs-link-active-color: var(--bulma-tabs-link-color);
}

/* Hide scrollbar on Chrome. */
.tabs::-webkit-scrollbar {
	width: 0 !important;
}

/* Hide scrollbar on Firefox. */
.tabs li a {
	overflow: -moz-scrollbars-none;
}
