@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }

  :root {
    /* Adapt to color-scheme */
    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    *::selection {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  body {
    @apply bg-light-background text-neutral-900 dark:bg-dark-background dark:text-neutral-50;
  }

  /* Definition list */
  dt {
    @apply mt-4 text-xs font-medium uppercase;
  }
  dd {
    @apply px-4 py-1;
  }
}
