.Calendar {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__body {
    display: grid;
    // One column for every week day.
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &__week-day {
    block-margin: 10px;
    font-weight: 600;
    font-size: 0.8em;
    text-align: center;
    user-select: none;
  }

  &__cell {
    text-align: center;
    user-select: none;
    font-size: 1.1em;
    border-radius: $radius-rounded;
    width: 2.2em;
  }
}
