temp/
public/*.css
public/*.css.map
public/*.js
public/*.html
public/sitemap.xml
public/admin/
public/design/
public/user/
public/translations/*.json
public/workers/
src/types/FormatjsIntlMessageIds.d.ts
