.calendar {
	margin-inline: 4px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.calendar__head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-inline: 4px;
	line-height: 2;
}

.calendar__head-icon {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.calendar__head-text {
	user-select: none;
}

/* One column for every week day. */
.calendar__grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendar__week-day {
	margin-block: 10px;
	font-weight: 600;
	font-size: 0.8em;
	text-align: center;
	user-select: none;
	pointer-events: none;
}

.calendar__cell {
	margin: 1px;
	text-align: center;
	user-select: none;
	font-size: 1.1em;
	border-radius: 0.125em;
	width: 2.2em;
}

@media (prefers-color-scheme: dark) {
	.calendar__cell {
		color: var(--bulma-white);
	}
}

.calendar__cell:hover {
	background: var(--bulma-primary);
	color: var(--bulma-black);
}

.calendar__cell--selected {
	background: var(--bulma-primary);
	color: var(--bulma-black);
}

.calendar__cell--disabled {
	color: var(--bulma-grey-light);
}

.calendar__cell--disabled:hover {
	background: transparent;
	color: var(--bulma-grey-light);
}
