.Calendar {
	margin-inline: 4px;
	display: flex;
	flex-direction: column;
	gap: 2px;

	&__head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-inline: 4px;
		line-height: 2;
	}

	&__head-icon {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__head-text {
		user-select: none;
	}

	&__body {
		display: grid;
		// One column for every week day.
		grid-template-columns: repeat(7, 1fr);
	}

	&__week-day {
		margin-block: 10px;
		font-weight: 600;
		font-size: 0.8em;
		text-align: center;
		user-select: none;
	}

	&__cell {
		margin: 1px;
		text-align: center;
		user-select: none;
		font-size: 1.1em;
		border-radius: $radius;
		width: 2.2em;

		&:hover {
			background: $primary;
		}

		&--selected {
			background: $primary;
		}

		&--disabled {
			color: $grey-light;

			&:hover {
				background: transparent;
			}
		}
	}
}
