.FlowMenu {
	max-height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: var(--bulma-size-5);

	&__strategyName {
		flex: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-inline: var(--bulma-size-6);
	}
}
