.flow-editor__menu {
	max-height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: var(--bulma-size-5);
}

.flow-editor__strategy-name {
	flex: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-inline: var(--bulma-size-6);
}

.flow-editor__actions {
	display: flex;
	gap: var(--bulma-size-7);
}

.flow-editor__container {
	height: 800px;
}
