.Footer {
	&__top {
		background: linear-gradient(
			180deg,
			var(--bulma-body-background-color) 0%,
			var(--bulma-footer-background-color) 100%
		);
		height: var(--bulma-size-1);
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 1em;

		& a {
			text-decoration: none;
		}
	}
}
