.footer__top {
	margin-top: var(--bulma-size-1);
	height: 171px;
	background: linear-gradient(180deg, var(--bulma-body-background-color) 0%, var(--footer-background-color) 100%);
}

.footer__body {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.footer__body a {
	text-decoration: none;
}
